@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Tab: default colors */
/*
#tabbrowser-tabs .tabbrowser-tab:not([selected]) .tab-content {
    background: linear-gradient(to right,#FFFFFF,#BBBBBB) !important;
}
*/

/*
#tabbrowser-tabs .tabbrowser-tab:not([selected]) .tab-content {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}
*/

/*
#tabbrowser-tabs .tabbrowser-tab:not([selected]) .tab-content {
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
}
*/

#navigator-toolbox, #nav-bar {
    background-color: #e6e5fb !important;
}

.tab-loading-burst {
    /*border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;*/
}

/*
#tabbrowser-tabs .tabbrowser-tab:not([selected]) .tab-loading-burst {
    border: 1px solid #c6a5ff !important;
}
*/

#tabbrowser-tabs .tabbrowser-tab .tab-loading-burst {
    /*border: 1px solid #c6a5ff !important;*/
    border: 1px solid #9a86ff !important;
}

#tabbrowser-tabs .tabbrowser-tab[selected] .tab-loading-burst {
    /*background-color: #c595ff !important;*/
    background-color: #c6a5ff !important;
}

#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-loading-burst {
    background-color: #d2d1f9 !important;
}

#tabbrowser-tabs .tabbrowser-tab:hover[selected] .tab-loading-burst {
    /*background-color: #daccff !important;*/
    background-color: #c2c0ff !important;
}

.tab-icon-overlay {
    display: none !important;
}

/*
.tab-icon-sound-label {
    display: none !important;
}
*/

/* Tab: selected colors */

/*
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
    background-color: #c595ff !important;
}
*/

/*background: linear-gradient(to right,#7e22ff,#e565ff) !important;*/


/* Tab: hovered colors */
/*
#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content {
    background: linear-gradient(to right,#808080,#FFFFFF) !important;
}
*/

/*
tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
    display: inline !important;
}
*/
